body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
  background-color: oklch(26.9% 0 0);
}

.navbar {
  background-color: oklch(20.5% 0 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.carousel-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  max-height: 26.25rem;
  height:100vh;
}

.img-carousel {
  transform: translate();
  height: calc(100% - 2rem);
  margin: 1rem auto;
  border-radius: 1rem;
  max-width: 26.25rem;
}

.carousel-caption h5 {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.25rem;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  font-weight: bold;
}

.carousel-caption p {
  color: black;
}

h2 {
  font-size: 3rem;
}

.btn-primary {
  background-color: var(--bs-primary); 
  border: none;
}

/* HOVER BUTTON: Changed to use the subtle background and black text for a "pop" effect */
.btn-primary:hover {
  background-color: var(--bs-primary-bg-subtle); 
  color: #000;
}

table {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card .producto-img {
  height: 18rem;
  object-fit: cover;
}


.card-title { 
  font-size:1.5rem;
}

.card-text {
  color: #d9d9d9;
  text-align: right;
}

.card-precio {
  font-size: 2rem;
}

.img-fluid { 
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@keyframes jump {
    0%, 100% {
      transform: translateY(0);
      color: var(--bs-nav-link-hover-color);
    }
    20% {
      transform: translateY(-8px);
      color:white;
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-4px);
    }
    80% {
      transform: translateY(0);
      color: var(--bs-nav-link-hover-color);
    }
}

.carrito-jump {
    animation: jump 0.6s ease-out;
}