body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
  background-color: oklch(26.9% 0 0);
}

.navbar {
  background-color: oklch(20.5% 0 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.img-carousel {
  max-height: 420px;
  height:100vh;
  object-fit: cover;
  filter: brightness(0.5) sepia(20%) saturate(130%) hue-rotate(10deg);
}

.carousel-caption h5 {
  color: var(--bs-primary-text-emphasis); 
  text-shadow: 0 0 10px #000;
  font-weight: bold;
}

.carousel-caption p {
  color: #f8f9fa;
}

h2 {
  font-size: 3rem;
}

.btn-primary {
  background-color: var(--bs-primary); 
  border: none;
}

/* HOVER BUTTON: Changed to use the subtle background and black text for a "pop" effect */
.btn-primary:hover {
  background-color: var(--bs-primary-bg-subtle); 
  color: #000;
}

table {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.card .producto-img {
  height: 18rem;
  object-fit: cover;
}


.card-title { 
  font-size:1.5rem;
}

.card-text {
  color: #d9d9d9;
  text-align: right;
}

.card-precio {
  font-size: 2rem;
}
